.account-data {
    display: grid;
    place-items: center;
    margin-top: 3rem;
    font: sans-serif;
    height: 100vh;
}

.account-data-header {
    color: #000000;
    margin: 2rem;
}

.account-data-box {
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: left;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    padding: 50px;
    gap: 0.5rem;
}

.account-data-form {
    display: grid;
    grid-auto-flow: row;
    place-items: left center;
    gap: 0.5rem;
}

.account-data-form input {
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    transition: 0.3s;
    outline: none;
}

.account-data-form input:focus {
    border: 1px solid #f07752;
    box-shadow: 0px 0px 1px 1px  #f07752;
}

.account-data-form button {
    color: #000000;
    background-color: #f2ce73;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 2px solid #a88734;
    border-radius: 3px;
}

.account-data-form button:hover {
    background-color: #e7ba49;
}