/* Header */

.header {
    display: grid;
    grid-template-columns: 250px 1fr 400px;
    align-items: center;
    background-color: #131921;
    width: 100vw;
    height: 70px;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.header__logo {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
}

.header__logo p {
    font-size: 1rem;
    color: white;
}

.header__doneIcon {
    color: #cd9042;
    height: 38px;
    
}

.header__search {
 display: grid;
 grid-template-columns: auto 1fr;
 
} 

.header__search ::placeholder {
    padding: 1rem;
    font-size: 1rem;
}

.header__Categories {
    background-color: rgb(235, 213, 213);
    border-right: 1px solid black;
    display: grid;
    place-content: center;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}


.header__Categories a{
    color: black;
    font-weight: 600;

}

.header__searchInput {
    display: grid;
    grid-template-columns: auto 10px;
    height: 38px;
   
    border: none;
 
}


svg.MuiSvgIcon-root.header__searchIcon {
    height: 38px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.header nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    padding-right: 0.8rem;
}



header nav ul a:hover {
    border: solid 1px white;
    color: rgb(241, 241, 236);
    padding: 1rem;
}



.header__logo {
    
   font-size: 3rem;
   font-weight: 600;
   padding-right: 0.8rem;
   
}

.header__logo a {
    color: white;
}

.header ul a {
    color: white;
}

.header__searchIcon {
    background-color: #cd9042;
}