
/* Product Detail */
.product-detail {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;
    height: 100%;
}

.product-detail > img {
    align-self: center;
  }
  
.product-detail__side {
    display: grid;
    /* border-left: 2px solid;
    border-right: 2px solid; */
    gap: 4rem;
    padding: 1rem;
    border: solid 1px #eaeded;
    border-radius: 8px;
}
  

.product-detail__side button {
    border-radius: 8px;
    padding: 5px;
    background-color: #ff9900;
    color: #ffffff;
    border: none;
}

.product-detail__side button:hover {
    background-color: #febd69;
}
  
.product-price {
      color: black;
}

.comment_section {
    display: grid;
    grid-template-rows: 1fr 60px;
}

.comment_section ul {
    border: 1px solid #eaeded;
    border-radius: 5px;
    height: 30vh;
    padding: 2rem;
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: #ffffff;
    display: grid;
    place-items: start;
  }

  .comment_section form {
    display: grid;
    grid-template-columns: 1fr 50px ;
    border: 1px solid #eaeded;
    gap:2px;
    border-radius: 10px;
  }

  .comment_section form input {

      padding:20px;
      border: 1px solid #eaeded;

  }
.detailsButton {
    border: 1px solid #febd69;
    border-radius: 5px;
}
.comment_section p {
    /* border: solid 1px black; */
    border-radius: 10px;
    padding: 1rem;
}