/* Products Container */

.products-container__main-wrapper {
  background-color: rgb(175 238 169);
  width: 100vw;
}



.products-container__list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    justify-content: center;
    grid-gap: 2rem;
    padding: 1rem;
    padding-bottom: 50px;
    /* margin: 1rem; */
  } 

  .products-container__list a {
    text-decoration: none;
    color: #000000
  }

/* Product Item */

.product-item {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: 2rem;
    height: 100%;
    padding: 2rem;
    place-items: center;
    background-color: white;
  }
  
  .product-item h3 h4 {
    font-weight: 400;
    color: black !important;
  }

  .product-item h4 {
    text-align: end;
    font-weight: 900;
  }
  