
/* Product Detail */
.product-detail {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 200px 200px;
    padding: 2rem;
    height: 100%;
}

.product-detail > img {
    align-self: center;
  }
  
.product-detail__side {
    display: grid;
    /* border-left: 2px solid;
    border-right: 2px solid; */
    gap: 4rem;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 8px;
}
  

.product-detail__side button {
    border-radius: 8px;
    padding: 5px;
    background-color: #ff9900;
    color: #ffffff;
    border: none;
}

.product-detail__side button:hover {
    background-color: #febd69;
}
  
.product-price {
      color: black;


}

.comment_section {
    display: grid;
    place-content: center;
    gap: 1rem;
}

.comment_section p {
    border: solid 1px black;
    border-radius: 10px;
    padding: 1rem;

}