/* Products Container */

.products-container__main-wrapper {
  background-color: rgb(175 238 169);
}



.products-container__list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    justify-content: center;
    grid-gap: 2rem;
    padding: 1rem;
    margin: 1rem;
  } 

/* Product Item */

.product-item {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: 2rem;
    height: 100%;
    padding: 2rem;
    place-items: center;
    background-color: white;
  }
  
  .product-item h3 {
    font-weight: 400;
  }
  